@import "tailwindcss";

@theme {
  --color-bg-base: #0b0b0b;
  --color-bg-accent: #ededed;

  --color-text-base: #ededed;
  --color-text-active: #0b0b0b;
  --color-text-accent: #9ca3af;

  --color-border-base: #9ca3af;
  --color-border-medium: #ededed;

  --color-btn-spotify: #1db954;

  --font-jakarta: var(--font-jakarta);
}

body {
  @apply font-jakarta bg-bg-base text-text-base;
}

.bg-galaxy-main {
  background: radial-gradient(
      at 70% 30%,
      rgba(80, 70, 180, 0.35),
      transparent 60%
    ),
    radial-gradient(at 20% 80%, rgba(40, 90, 160, 0.25), transparent 60%),
    #0b0b10; /* deep matte black-blue */
}

.bg-login {
  min-height: 100vh;
  background: radial-gradient(
      circle at 10% 30%,
      rgba(100, 100, 100, 0.2),
      transparent 50%
    ),
    linear-gradient(to bottom, #2e2e2e, #000000);
}

.bg-galaxy-results {
  background: radial-gradient(
      circle at 10% 50%,
      rgba(80, 70, 180, 0.35),
      transparent 50%
    ),
    radial-gradient(at 20% 80%, rgba(40, 90, 160, 0.25), transparent 60%),
    #0b0b10;
}


